<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:redisson="http://redisson.org/schema/redisson"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://redisson.org/schema/redisson
        http://redisson.org/schema/redisson/redisson.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.xunmall.example.boot.spring.quota"/>

    <redisson:client id="redissonClient">
        <redisson:single-server address="192.168.177.129:6390"
                                password="abc123"
                                connection-pool-size="500"
                                idle-connection-timeout="10000"
                                connect-timeout="10000"
                                timeout="3000"
                                ping-timeout="30000"
                                reconnection-timeout="30000"
                                database="10"/>
    </redisson:client>

    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>
</beans>