<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean name="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean"
          lazy-init="false">
        <property name="applicationContextSchedulerContextKey" value="applicationContext"/>
        <property name="autoStartup" value="true"/>
        <property name="configLocation" value="classpath:quartz.properties"/>
    </bean>

    <!-- 比对服务触发  -->
    <bean id="compareBeforeOneJob" class="com.xunmall.example.boot.quartz.CompareBeforeOneJob"/>

    <bean id="compareBeforeOne" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="compareBeforeOneJob"/>
        <property name="targetMethod" value="process"/>
        <property name="concurrent" value="false"/>
    </bean>

    <bean id="compareBeforeOneTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="compareBeforeOne"/>
        <property name="cronExpression" value="0 0 12 * * ?"/>
    </bean>

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="compareBeforeOneTrigger"/>
            </list>
        </property>
    </bean>
</beans>
